/* =================================
   Font Declarations
   ================================= */

/* Proxima Nova Font Family
   --------------------------------- */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima-Nova-Light-367531d5c657281665cd0d8f31ae4b79.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular-fd587f5a8435ec062478c3102e1f9e2c.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-bold-webfont-0df61a579eb550820a048d7a28d03124.woff2') format('woff2'),
       url('/fonts/proximanova-bold-webfont-812df50123a9215c568de1b6aad097a3.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* PT Serif Font Family
   --------------------------------- */
@font-face {
  font-family: 'PT Serif';
  src: url('/fonts/ptserif-regular-webfont-38b02094d7b1cc915b8186eabf0b6556.woff2') format('woff2'),
       url('/fonts/ptserif-regular-webfont-7fea823cf9b5978140662e0aa7007e49.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  src: url('/fonts/ptserif-bold-webfont-8e03db603f9e0fc7cce1748832994deb.woff2') format('woff2'),
       url('/fonts/ptserif-bold-webfont-40b3864718f8d2a4e43446d4faa63f99.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



/* Font Awesome
   --------------------------------- */
@font-face {
  font-family: 'Font Awesome 6 Brands';
  src: url('/fonts/fa-brands-400-878f31251d960bd6266f20ccdc4d738f.woff2') format('woff2'),
       url('/fonts/fa-brands-400-016b4a6cdced82ab3aa1907e3855cfd2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 6';
  src: url('/fonts/fa-regular-400-b041b1fa4fe241b234458a565482c4c6.woff2') format('woff2'),
       url('/fonts/fa-regular-400-50701fbb8177c2dde530fc83add388ef.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 6';
  src: url('/fonts/fa-solid-900-b6879d41b0852f01ed5b0216c4c72e11.woff2') format('woff2'),
       url('/fonts/fa-solid-900-d75e3fd1eb12e9bd66550e304bdd1ec7.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Font Awesome v4 Compatibility
   --------------------------------- */
@font-face {
  font-family: 'Font Awesome 6 v4';
  src: url('/fonts/fa-v4compatibility-c6a0c95b0a95c4553700768802e10f98.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
